<div class="container">
    <div class="login-wrapper" style="width:90%">
        <div class="paper" style="width:60%;padding: 0 0 50px 0;margin:0,8rem;margin-left:20%;background:#dce9f7">
            <h2 style="text-align: center; background:#3f51b5;margin:0;padding-top:0.8rem;padding-bottom:0.8rem; border-radius: 5px; color:white">Klinicki Centar Podrska</h2>
            <hr>
            <div style="padding-left: 2rem;">
                <span style="font-size: 82px;margin-left:45%;color:#3f51b5" class="material-icons">
                    fact_check
                </span>
                <p>Dobro dosli!</p>
                <p>Uspesno ste aktivirali nalog.</p>
                <button mat-raised-button color="primary" style="width: 30%; float:right;margin-right: 1rem;" (click)="goToHome()">Idi na pocetnu stranu</button>
            </div>
        </div>
        
    </div>
</div>