<div *ngIf="spinner==true" class="spinner-container-modal">
  <mat-spinner></mat-spinner>
</div>
<mat-toolbar color="primary" class="app-header">
    <div><a href="/" class="navlogo">Klinicki Centar</a></div>
    <span class="nav-tool-items">
      <a mat-button routerLink="/login" routerLinkActive="active">Prijavi se</a>
      <a mat-button mat-raised-button routerLink="/register" routerLinkActive="active">Napravi nalog</a>
    </span>
  </mat-toolbar>
  <div class="container">
  <div class="login-wrapper" >
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Registruj se</mat-card-title>
      </mat-card-header>
      <form class="form" (submit)="registerClick()">
        <mat-card-content>
          <mat-form-field class="full-width">
            <input matInput placeholder="Ime" [(ngModel)]="user.firstname" name="imeField" required>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Prezime" [(ngModel)]="user.lastname" name="prezimeField" required>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="email" type="email" [(ngModel)]="user.email" name="emailField" required>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Lozinka" type="password" [(ngModel)]="user.password" name="passwordField" required>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Ponovi lozinku" type="password" [(ngModel)]="repeatPassword" name="passwordField1" required>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Adresa" [(ngModel)]="user.address" name="addressField" required>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Grad"[(ngModel)]="user.city" name="cityField" required>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Drzava" [(ngModel)]="user.country" name="countryField" required>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Broj telefona" type="number" [(ngModel)]="user.phone" name="phoneField" required>
          </mat-form-field>
        </mat-card-content>
        <!-- <span *ngIf="dataInvalid" style="font-size: 15px; position: relative; top: -15px; color: red;">Pogresan email ili
          lozinka</span> -->
        <button mat-stroked-button color="primary" class="btn-block" type="submit" [disabled]="formInvalid()"

        >Potvrdi</button>
      </form> 
    </mat-card>
  </div>
</div>
