<div *ngIf="spinner==true" class="spinner-container-modal">
    <mat-spinner></mat-spinner>
</div>
<div class="container">
    <div class="login-wrapper" style="width:90%">
        <mat-card class="paper" style="width: 80%;max-width: 80%; margin-left:10%">
            <h1 style="text-align: center;">Predefinisani Pregledi</h1>
            <hr>
            <!-- FORMA -->
            <p>Odaberite pregled koji vam odgovara i jednim klikom ga zakazite.</p>
            <p>Zahtev odobrenja ce vam stici na email adresu.</p>
            <div class="flex-container">
                <div *ngFor="let pregled of dataSource" class="flex-item">
                    <h5 class="title-section-left">{{pregled.tipPregleda.naziv}}</h5>
                    <button class="title-section-right" mat-raised-button color="warn" style="border-radius: 10px;"
                        (click)="onRezervisi(pregled)">Rezervisi</button>
                    <hr style="margin:0">
                    <p>
                        <strong>Opis pregleda: </strong>{{pregled.tipPregleda.opis}}
                    </p>
                    <p>
                        <strong>Lekar: </strong>{{pregled.lekar.user.firstname}} {{pregled.lekar.user.lastname}}
                    </p>
                    <p>
                        <strong>Termin: </strong>{{formatDate(pregled.termin.datum)}}
                    </p>
                    <p>
                        <strong>Sala: </strong>{{pregled.sala.naziv}} {{pregled.sala.brojsale}}
                    </p>
                    <h4 *ngIf="!popustActive(pregled.popust)" class="footer-section-right" style="margin-right: 1em !important">{{pregled.cena}}$</h4>
                    <h4 *ngIf="popustActive(pregled.popust)" class="footer-section-right" style="font-size: 18px; text-decoration: line-through;">{{pregled.cena}}$</h4>
                    <h4 *ngIf="popustActive(pregled.popust)" class="footer-section-right" style="color: rgb(243 85 74) ">{{getCenaPopust(pregled.cena,pregled.popust)}}$</h4>
                </div>
            </div>
        </mat-card>
    </div>
</div>